{% extends 'base.twig' %}
{% block title %} REGISTER {% endblock title %}
{% block bodytitle %} 
REGISTER GAME AND SCORE
{% endblock bodytitle %}
{% block bodytext %} 
<form method="post" action="/">
    <input type="text" name="user[name]">
    <input type="text" name="user[email]">
    <input type="submit" value="Submit">
</form>
{% endblock bodytext %}